GEMINI_API_KEY=
ELEVENLABS_API_KEY=

HABIBAH_VOICE_ID=
LULU_VOICE_ID=
OMAR_VOICE_ID=
ENGLISH_MALE_VOICE_ID=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=

VOSK_MODEL_PATH=/home/pi/alfaseelah/vosk-model-ar-mgb2-0.4